:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #14599D;
  text-decoration: underline;
}
a:hover {
  color: #535bf2;
}

body {
  margin: auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 24px;
  font-family: Georgia, serif;
  line-height: 1.1;
  margin: auto;
  margin-top: 10px;
}

h2 {
  font-size: 18px;
  font-family: Georgia, serif;
  margin: auto;
  font-weight: normal;
}

p {
  font-size: 16px;
  font-family: Georgia, serif;
}

#app {
  max-width: 1280px;
  margin: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 0.5rem;
  padding: 9px 10px 9px 15px;
  font-size: 12px;
  font-family: inherit;
  background-color: transparent;
  color: #14599D;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  float: right;
}
button:hover {
  border-color: #646cff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    color: #14599D;
    font-size: 12px;
    margin: 0px 0px 0px 10px;
    padding: 9px 10px 9px 15px;
    border-radius: 0.5rem;
    overflow: visible;
  }
}

header {
  background-color: #071c2e;
  color: #ddd;
  display: grid;
  grid-template-columns: 2fr 5fr 4fr ;
  height: 55px;
  align-items: center;
}

main {
  color: #1A1A1A;
  margin: auto;
  padding:0px 20px 20px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 128.14px;
  height: 18px;
}

figure {
  display: inline-flex;
  align-items: center;
}

#michael, #editors, #credited {
  text-decoration-style: dotted;
}

.science {
  color: #000000;
  background-color: #FED7AA;
  padding: 2px 6px;
  border-radius: 0.5rem;
  text-decoration: none;
}

.action {
  display: flex;
  justify-content: space-between;
}

#account {
  font-size: 16px;
  background-color: #ddd;
  color:#071c2e;
  border-radius: 50px;
  border-color: #ddd;
}

#expand {
  font-size: 18px;
}

.navbar {
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.subscribe {
  color: #ddd;
  background-color: #963100;
  padding: 5px;
  border-radius: 0.5rem;
  text-decoration: none;
  border: none;
}

caption {
  margin: auto;
  margin-top: 5px;
}

.source {
  margin: auto;
}